#playerStats {
    width: 15rem;
    height: 4 rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 3rem;
    left: 3rem;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}

h2 {
    margin: 0;
    font-size: 1rem;
    margin-top: 0.2rem;
}

#playerStats__lines {
    display: flex;
    align-items: center;
}

#playerStats__lines__thick {
    display: block;
    top: 0;
    left: 0;
    background-color: white;
    height: 0.2rem;
    width: 5.4rem;
}

#playerStats__lines__thin {
    display: block;
    top: 0;
    left: 0;
    background-color: white;
    height: 0.1rem;
    width: 6.3rem;
}